<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovieStore</title>
    <link rel="stylesheet" href="../styles/landing.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav>
      <div class="logo">
        <img src="/assests/logoBg.png" alt="logo" class="logo" />
      </div>

      <div class="title">
        <h1>Movies PlayList</h1>
      </div>

      <div class="extra">
        <div class="buttons">
          <a class="styled-button" href="/signin">Sign In</a>
          <a class="styled-button" href="/signup">Sign Up</a>
        </div>
      </div>
    </nav>

    <div class="main">
      
    </div>

    <div class="text">
      <h1>Create your favourite list of Movies.</h1>
    </div>

    <footer>
      <p>@2024 MoviesPlayList. All rights reserved</p>
    </footer>
  </body>
</html>
