<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Form</title>
    <link rel="stylesheet" href="../styles/signup.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="/assests/logoBg.png" alt="logo" class="logo" />
      </div>

      <div class="title">
        <h1>Movies PlayList</h1>
      </div>
    </nav>

    <div class="outer">
      <div class="main">
        <form action="/signup" method="post">
          <div class="name">
            <h3>Signup</h3>
          </div>
          <div class="inp">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="abc@gmail.com"
            />
          </div>
          <div class="inp">
            <label for="username">Username</label>
            <input
              type="text"
              name="username"
              id="username"
              placeholder="username"
            />
          </div>
          <div class="inp">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="password"
            />
          </div>
          <div class="btn">
            <button type="submit">Sign Up</button>
          </div>
        </form>
        <div class="already">
          <span
            >Already a User?<i class="already-text"
              ><a href="/signin">Signin</a></i
            ></span
          >
        </div>
      </div>
    </div>
  </body>
</html>
